<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mad.studecare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Classes.Loading.LoadingScreen">
        </activity>
        <activity android:name=".Classes.Login.LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Classes.Home.HomeScreen">
        </activity>
        <activity android:name=".Classes.Appointment.AppointmentScreen" />
        <activity android:name=".Classes.Settings.SettingsScreen" />
        <activity android:name=".Classes.Register.RegisterScreen" />
        <activity android:name=".Classes.Appointment.Information.AppointmentInformationScreen" />
        <activity android:name=".Classes.Profile.Student.ProfileStudentScreen"></activity>
    </application>

</manifest>